<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Study Helper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>AI Study Helper</h1>
            <p>Your smart study plan assistant</p>

            <div class="home-actions">
                <a href="/syllabus">
                    <button>📘 Syllabus Planner</button>
                </a>

                <a href="/assignment">
                    <button>📝 Assignment Tracker</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
